[submodule "websc"]
	path = websc
	url = https://github.com/vi/websocat.git
[submodule "secp256k1"]
	path = secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "bip85"]
	path = bip85
	url = https://github.com/ethankosakovsky/bip85.git
