nostr.privkey.txt.sig
*.txt
*.gpg
*.o
/.direnv/
.envrc
nostril
/result
configurator.out*
configurator
.build-result
.buildcmd
config.h
tags

#Xcode
## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout
